/* TODO: put your application-specific CSS here */
html,body, table
{
	font-size:8pt;
	background-color:black;
}
td
{
	padding:0px;
	margin:0px;
	height:43px;
	width:40px;
}
.messageDiv
{
	color:black;
}
